<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Students Opposing Substances</title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <script src="js/jquery-1.11.0.js"></script>
    <script src="bootstrap-3.1.1-dist/js/bootstrap.js"></script>
    <script src="bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <link href="bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="StyleSheet.css" rel="stylesheet" />
    <!-- Gigya social network integration -->
<script type="text/javascript" src="http://cdn.gigya.com/JS/socialize.js?apikey=2_WCPIXaIiIGJIAs9CxWMY-h40Tpz5k8GTyPMuyURSzAQXuYh9hqQNq8FVgs6Xp6vh+" ></script>  
<script type="text/javascript">
    if (typeof CONVIO == "undefined" || !CONVIO) { var CONVIO = {}; }
    CONVIO.gigya = {}
    CONVIO.gigya.conf = {
        APIKey: "2_WCPIXaIiIGJIAs9CxWMY-h40Tpz5k8GTyPMuyURSzAQXuYh9hqQNq8FVgs6Xp6vh ",
        enabledProviders: "twitter,facebook"
    };
</script>
    <!-- Gigya social network integration -->
    
    <script>

    </script>

</head>
<body>
    <form id="form1" runat="server">
        <nav class="navbar navbar-default" role="navigation" style="padding-bottom:0px;margin-bottom:0px">
            <a class="navbar-brand" href="Default.aspx">SOS - Students Opposing Substances</a>
               <div class="pull-right" style="word-spacing:20px">
             <ul class="nav navbar-nav">
            <li ><a href="C_ParticipatingSchools.aspx" style="word-spacing:normal">Participating Schools</a></li>
            <li><a href="C_News.aspx">News</a></li>
            <li><a href="C_Donate.aspx">Donate</a></li>
            <li><a href="C_Contact.aspx" style="word-spacing:normal">Contact Us</a></li> <%--info@studentsopposingsubstances.com--%>
        </ul>
            </div>
            </nav>
        <nav class="navbar navbar-default" style="margin-top:0px; padding-top:0px">
            <div class="navbar-form navbar-left pull-left" >
              
                 <ul class="nav navbar-nav nav-tabs">
                  <li ><a href="Default.aspx" >Home</a></li>
                  <li ><a href="C_AboutUs.aspx" >About Us</a></li>
                  <li><a href="C_BecomeAMember.aspx" >Become A Member</a></li>
                  <li><a href="C_SuccessStories.aspx">Success Stories</a></li>
                  <li><a href="C_Mission.aspx" >Mission Statement</a></li>
                  <li><a href="C_SuccessStories.aspx" >Success Stories</a></li>
                </ul>
               

             </div>
           </nav>

    <div style="width:900px; margin-left:auto; margin-right:auto; min-height:400px">
       
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
    </div>

        <footer class="panel-footer" style="height:240px">
            <div style="width:900px; margin-left:auto; margin-right:auto">
              <div class="pull-left well footerwell">
                    <h2>About Us</h2>
                    <asp:Panel CssClass="panel-info" ID="Panel1" runat="server">
                        <ul>
                        <li><a href="Default.aspx">Home</a></li>
                        <li><a href="C_AboutUs.aspx">About Us</a></li>
                        <li><a href="C_Mission.aspx">Mission Statement</a></li>
                        <li><a href="C_ParticipatingSchools.aspx">Participating Schools</a></li>
                        
                    </ul>
                    </asp:Panel>
                </div>
                <div class="pull-left well footerwell">
                    <asp:Panel CssClass="panel-info" ID="Panel2" runat="server">
                    <h2>Get Involved</h2>
                    <ul class="panel-group">
                        <li><a href="C_BecomeAMember.aspx">Become A Member</a></li>
                        <li><a href="C_Donate.aspx">Donate</a></li>
                        <li><a href="C_Volunteer.aspx">Volunteer</a></li>
                        
                    </ul>
                        </asp:Panel>
                    </div>
                <div class="pull-left well footerwell">
                    <h2>SOS News</h2>
                    <asp:Panel CssClass="panel-info" ID="Panel4" runat="server">
                        <ul>
                        <li><a href="C_News.aspx">News</a></li>
                     </ul>
                    </asp:Panel>
                </div>
                <div class="pull-left well footerwell" style="margin-right:0px">
                    <h2>Social Media</h2>
                     <br />
                    <div style="padding-left:10px">
                        <script type="text/javascript">

                                      var showFollowBarUI_params =
                                      {
                                          containerID: 'componentDiv',
                                          iconSize: 22,
                                          buttons: [
                                          {
                                              provider: 'facebook',
                                              actionURL: '',
                                              title: 'Facebook',
                                              action: 'dialog'
                                          },
                                          {
                                              provider: 'twitter',
                                              title: 'Twitter',
                                              action: 'dialog',
                                              followUsers: ''
                                          },
                                          {
                                              provider: 'rss',
                                              actionURL: '',
                                              title: 'MADD Blog'
                                          },
                                          {
                                              provider: 'email',
                                              actionURL: '',
                                              title: 'Email to a friend'
                                          },
                                          {
                                              provider: 'linkedin',
                                              actionURL: '',
                                              title: 'Linkedin'
                                          },
                                          {
                                              provider: 'Youtube',
                                              actionURL: '',
                                              title: 'MADD Youtube'
                                          }
                                          ]
                                      }
                        </script>
                    <div id="componentDiv"></div>
                         <script type="text/javascript">
                             gigya.socialize.showFollowBarUI(showFollowBarUI_params);
                        </script>
                       </div>
                </div>
            </div>
            
        </footer>

    </form>
</body>
</html>
